.cha{
    width: 50%;
    margin:  auto;
}
.con1-abum{
    background-color: black;color: aliceblue;height: 50px;

}
.con1-text{
    text-align: center;
}

.button1-card1{
    background-color: blue;color: white;height: 50px;width: 200px;border-radius: 10px;
}
.button1-card2{
    background-color: rgb(203, 203, 230);color: rgb(82, 61, 61);height: 50px;width: 200px;border-radius: 10px;
}
.con2{
    display: flex;
    margin:20px;
    border: 1px solid black;

}
.con2-img1{
    width: 50%;
    font-size: 10px;
    
   
    

}
img{
    width: 100%;
    /* display: flex;
    justify-content: space-around;     */
    
}
.dive{
    border: 1px solid rgb(225, 214, 214);
    margin: 10px;
    
}

